<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>野球チーム一覧</h1>
    <a th:href="@{/team/detail}">detailを確認</a>
    
    <!-- <a th:href="@{/detail?id=}+${team.id}">読売ジャイアンツ</a>
    <a th:href="@{/detail?id=}+${team.id}">阪神タイガース</a>
    <a th:href="@{/detail?id=}+${team.id}">中日ドラゴンズ</a>
    <a th:href="@{/detail?id=}+${team.id}">横浜DeNAベイスターズ</a>
    <a th:href="@{/detail?id=}+${team.id}">広島東洋カープ</a>
    <a th:href="@{/detail?id=}+${team.id}">東京ヤクルトスワローズ</a> -->
</body>
</html>
