<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>衣類検索</h1>
    <form th:action="/exam3/showResult" method="post">
        <input type="radio" name="gender" value="0">Man
        <br>
        <input type="radio" name="gender" value="1">Woman
        <select name="color" id="color">
            <option value="red" selected>赤</option>
            <option value="blue">青</option>
            <option value="white">白</option>
            <option value="yellow">黄</option>
        </select>
        <br>
        <button>検索</button>
    </form>
    
</body>
</html>
